body{
    background: -webkit-gradient(liner, left top , right top, color-stop(25%, #00c4cc), to(#6e44bd));
    background: linear-gradient(90deg, #00c4cc 25%, #6e44bd);
}

.h-100vh{
    height: 100vh;
}
.input input{
    width: 37px;
}
h2{
    color: red;
}